.card-image{
    /* #specifies that each item should take up one-third of the available width (33.33%). */
    flex: 1 1 33.333333% 

}

#name-price{
    display: flex;
    justify-content: space-between;
    width :300px;
    margin-bottom: 0;
}

#description{
    width: 300px;
    margin-top: 0;
}