/* adding a custom font */
@font-face {
    font-family:campana ;
    src: url("../assets/Campana.otf")
    /* format("typetrue") */
    
}

.dish{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}

#dishOfTheDay{
    font-family: campana;
    font-size: 90px;
    margin: 0;
    text-align: center;
    align-self: top;
    


}
#dish-info{
    margin-bottom: 0;
    
    
}
#btn{
    margin-top:  10%;
}



#dish-desciption{
    margin: 0;
    padding-right: 10%;
    
   
    

}

#reservation-btn{ 
    position: relative ;
    height: 40px;
    border-radius: 1vh;
    margin-left: 10%;
    cursor: pointer;
    background-color: rgb(40, 150, 40);
    color: white;
    font-size: large;
    font-weight: bold;
    width: 40h;
}

#reservation-btn:hover{
    background-color: rgba(40, 150, 40, 0.738);
}

.dish-info{
    margin: 0;
    font-family: './assetra';
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    text-transform: capitalize;
    
    
}