header{
    display: flex;
    padding :2vw 10vw;
    border: solid 1px;
    height: 20vh;
    align-items: center;
    
}
#image{
    flex :1;
}
#navigation-elements{
    display: flex;    
    font-weight: bold;
    gap: 1vw;

}
#header-logo{
    height: auto;
    width: 200px; 
}