header{
    display: flex;
    padding :2vw 10vw;
    border: solid 1px;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    
}
a{
    color: green;
    text-decoration-line: none;
    
}

a:hover{
    background-color: green;
    height: fit-content;
    color: white;
}


#navigation-elements{
    display: flex;    
    font-weight: bold;
    gap: 1vw;

}
#header-logo{
    height: auto;
    width: 200px; 
}