.form{
    padding :2vw 10vw;
    background-color: bisque;
    
}

.input-container{
    display: flex;
    padding: 0 10%;
}

#text{
    text-align: center;
    font-size: 40PX ;
   
}


.input{

    width: 50%;
    height: 40px;

}

.requets{
    height: 80px;
}

label{
    width: 30%;
}
#btn{
    display: flex;
    justify-content: center;
    
}

button{
    width: 200px;
    height: 50px;
    border-radius: 1vh;
    
}

button:hover{
    cursor: pointer;
    background-color: aliceblue;
}