@font-face {
    font-family:sundori ;
    src: url("../assets/SundoriRegular-5y85a.ttf")
    /* format("typetrue") */
    
}
#text{
    font-family: sundori;
    margin :0;
    padding-top: 30px;
}
.cards {
    padding :2vw 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    
    
}
